@font-face{font-family:Outfit;font-weight:300;src:url(fonts/outfit-300.ttf)}
@font-face{font-family:Outfit;font-weight:400;src:url(fonts/outfit-400.ttf)}
@font-face{font-family:Outfit;font-weight:500;src:url(fonts/outfit-500.ttf)}
@font-face{font-family:Outfit;font-weight:600;src:url(fonts/outfit-600.ttf)}
@font-face{font-family:Outfit;font-weight:700;src:url(fonts/outfit-700.ttf)}
@font-face{font-family:Outfit;font-weight:800;src:url(fonts/outfit-800.ttf)}
